{% extends "master.html" %}

{% block title %}Details about {{ event.title_event }} {% endblock %}


{% block content %}

<h1> {{event.title_event}}</h1>

    {% if event.poster %}
    <p><img class="img-article-left" src="{{event.poster.url}}" width=350></p>
    {% endif %}

    <p>Дата: {{ event.date }}</p>

    {% if event.tech_info %}
    <h3><a href="{{ event.tech_info.url }}">Техническая информация</a></h3>
    {% endif %}


    {% if event.result %}
    <h3><a href="{{ event.result }}">Результаты</a></h3>
    {% endif %}

    <button type="button" class="btn btn-primary">Регистрация</button>
    <hr>

    <button onclick="history.back()">Назад </button>

{% endblock %}
